body {
    background-image: radial-gradient(rgb(255, 110, 110), rgb(128, 0, 0), rgb(238, 130, 130));
    margin: auto;
    

}



div  {
    background-color: white;
    border:  10px dashed purple ;
    border-radius: 100px;
    padding: 50px;
    margin: 240px;
}




