body {
    background-image: radial-gradient(pink, purple, violet);
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}



div  {
    background-color: white;
    border:  8px dashed purple ;
    border-radius: 80px;
    padding: 50px;
    margin: 255px;
}




